.body-class{
    background-color:  hsl(0, 0%, 8%)    ;
}

.container{
    background-color: hsl(0, 0%, 12%);
    width: 25rem;
    border-radius: 0.7rem;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}
.title-name{
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: 1000;    
       
}
.title-location{
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    margin-top: 10px;

}
.title-job{
    margin: 10px;
    margin-top: 25px;
    
    font-weight: 400;
    color: rgb(180, 194, 194);
}
.title{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.img{
    border-radius: 6rem;
}
.lists{
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.list-item{
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding: auto;
    text-align: justify;
    height: 3rem;
    width: 20rem;
    border: 1rem;
    border-radius: 0.5rem;
    

}
.list-item:hover{
    background-color:hsla(75, 94%, 57%, 0.914) ;
    color: black;
    transition-delay: 200ms;
    transition-duration: 200ms;
}
.attribution{
    color: aliceblue;
}